<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>


<body>
<div class="container py-3">

    <div th:insert="blocks/headerAdmin :: header"></div>

    <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <a th:href="'/admin/add-user/'" class="btn btn-primary">Добавить</a>
                    <div class="card-header py-3">
                        <strong>В разработке</strong>
                    </div>
                    <div class="card-body">
                        <div th:each="el : ${tasksDev}">
                            <h4 th:text="${el.getClient().companyName}"/>
                            <p th:text="'Описание: ' + ${el.description}"/>
                            <hr class="my-4">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <strong>Тестировние</strong>
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                            <div th:each="el : ${tasksTest}">
                                <h4 th:text="${el.getClient().companyName}"/>
                                <p th:text="'Описание: ' + ${el.description}"/>
                                <hr class="my-4">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <strong>На утверждении</strong>
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                            <div th:each="el : ${tasksReal}">
                                <h4 th:text="${el.getClient().companyName}"/>
                                <p th:text="'Описание: ' + ${el.description}"/>
                                <hr class="my-4">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div th:insert="blocks/footerClient :: footer"></div>
</div>
</body>
</html>